@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "vendors/bootstrap";
@import "vendors/jquery-ui";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/card";
@import "components/badge";
@import "components/cover";
@import "components/icon";
@import "components/media";
@import "components/logo";

@import "pages/home";
@import "pages/contact";

a {
  text-decoration: None;
  width: 100%;
  color: map-get($colors, bg-color);
}

* {
  @include font-texte;
}

h1 {
  @include font-logo-titres;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  padding: 0px 0px;

  .navBar {
    @import url(./layout/_navigation.scss);

    i {
      display: none;
    }
    

    .navBar__logo--img {
      display: flex;
      width: 375px;
      height: 63px;
      padding: 14px 89px 13px 89px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }


    .navBar__map {
      display: flex;
      width: 375px;
      height: 50px;
      justify-content: center;
      align-items: center;
      gap: 17px;
      flex-shrink: 0;
      background: map-get($colors, color-bg-grey);

      i {
        display: flex;
        width: 12px;
        height: 16px;
        flex-shrink: 0;
        fill: map-get($colors, color-grey);
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: map-get($colors, color-grey);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: map-get($colors, bg-color);
      gap: 20px;
      padding: 30px;

      h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 68px;
        color: map-get($colors, color-black);
        /* Section Title */
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        flex-shrink: 0;
      }

      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 46px;
        flex-shrink: 0;
        color: map-get($colors, color-grey);
        text-align: center;
        /* Paragraph */
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      .btn-restau {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 218px;
        height: 50px;
        border: none;

        border-radius: 25px;
        background: map-get($colors, color-grad);
        transition: transform 500ms;

        /* Shadow/Instructions */
        @include shadow;

        .btn-restau__link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-shrink: 0;
          width: 180.495px;
          height: 24px;

          color: map-get($colors, bg-color);
          opacity: 1;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .btn-restau:hover {
        transform: scale(1.03);
        opacity: 0.8;

        @include shadow-hover;
      }
    }

    .fonctionnement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 375px;
      height: 440px;

      background: map-get($colors, bg-color-white);

      &--h2 {
        flex-shrink: 0;
        align-items: center;
        width: 275px;
        height: 31px;

        color: map-get($colors, color-black);
        /* Section Title */
        margin-bottom: 25px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .stage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 335px;
        height: 80px;
        flex-shrink: 0;
        margin-bottom: 10px;

        &__badge1 {
          align-items: center;
          display: flex;
          height: 80px;
        }

        &__badge {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 322px;
          height: 80px;
          flex-shrink: 0;
          border-radius: 20px;
          background: map-get($colors, bg-color);

          /* Shadow/Instructions */
          @include shadow-badge;

          &--ellipse {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;

            background: map-get($colors, color-primaire);
            color: map-get($colors, bg-color);
          }
        }
      }

      .entitled {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 211px;
        height: 15px;

        p {
          color: map-get($colors, color-black);
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .fa-solid.fa-store {
          width: 18px;
          height: 17px;
          flex-shrink: 0;
          color: map-get($colors, color-primaire);
        }
      }
    }

    .retaurants {
      display: flex;
      width: 375px;
      height: 1530px;
      flex-direction: column;
      align-items: center;
      gap: 18px;
      flex-shrink: 0;
      background: map-get($colors, color-bg-grey);

      h2 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        width: 275px;
        height: 68px;
        flex-shrink: 0;
        color: map-get($colors, color-black);

        /* Section Title */
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .cardsMenus {
        height: auto;
        align-self: center;
        border-radius: 15px;
        cursor: pointer;

        transition: transform 500ms;

        &:hover {
          transform: scale(1.03);
        }

        .cardMenu {
          @include display-cardMenu;
          width: 340px;
          height: auto;
          border-radius: 10px;
          flex-shrink: 0;

          background: map-get($colors, bg-color-white);

          /* Shadow/Card */
          @include shadow-card;

          &__img-one {
            background: url(#{$imgOne});
            @include img-bg-cover-center-noRepeat;
            @include size-img-1-2-3-4;
          }

          &__img-two {
            background: url(#{$imgTwo});
            @include img-bg-cover-center-noRepeat;
            @include size-img-1-2-3-4;
          }

          &__img-three {
            background: url(#{$imgThree});
            @include img-bg-cover-center-noRepeat;
            @include size-img-1-2-3-4;
          }

          &__img-four {
            background: url(#{$imgFour});
            @include img-bg-cover-center-noRepeat;
            @include size-img-1-2-3-4;
          }

          &__titleHeart {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px 0px;
          }

          &__title {
            display: flex;
            flex-direction: column;

            h3 {
              width: 267px;
              height: 20px;
              flex-shrink: 0;

              color: map-get($colors, color-black);
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }

            p {
              width: 247px;
              height: 24px;
              flex-shrink: 0;

              color: map-get($colors, color-black);
              font-size: 17px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
            }
          }

          &__heart {
            display: flex;
            flex-direction: column;
            width: 32px;
            height: 40px;

            i {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 23px;

              color: map-get($colors, color-primaire);
            }

            .fa-solid .fa-heart {
              width: 32px;
              height: 31px;
            }
          }

          &__badge {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            align-items: center;
            margin-top: 0;

            p {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              top: 50px;
              right: 15px;
              width: 80px;
              height: 29px;
              flex-shrink: 0;
              border-radius: 3px;

              background: map-get($colors, color-tertiaire);
              color: map-get($colors, color-tertiaire1);
            }
          }
        }
      }
    }
  }

  footer {
    display: block;
    gap: 30px;
    color: map-get($colors, bg-color-white);
    background: map-get($colors, color-grey);

    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 375px;
      height: 200px;
      padding: 22px 25px;
      gap: 16px;

      &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 139px;
        height: 27px;
        padding-right: 0px;
      }

      &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 190px;
        height: 19px;
        gap: 7px;

        .proposer-resto,
        .devenir-partenaire {
          display: flex;
          align-items: center;

          color: map-get($colors, bg-color-white);

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          gap: 10px;
        }

        .mention-contact {
          display: flex;
          flex-direction: column;
          gap: 10px;

          color: map-get($colors, bg-color-white);

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}
