@import "../components/buttons";

a {
  text-decoration: None;
  width: 100%;
  color: map-get($colors, bg-color);
}

* {
  @include font-texte;
  scroll-behavior: smooth;
}

h1 {
  @include font-logo-titres;
}



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  padding: 0px 0px;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}


.mainMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 375px;
  height: 1307px;

  &__imgOne {
    //position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 375px;
    height: 275px;
    img {
      @include img-bg-cover-center-noRepeat;
    }

  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1090px;
    background: map-get($colors, bg-color);
    top: 215px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    h1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 341px;
      height: 27px;

      flex-shrink: 0;
      color: map-get($colors, color-black);
      font-family: Shrikhand;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 25px 0px 30px 20px;

    }
  }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-around;
      width: 375px;
      height: auto;
      padding: 10px 10px;

      &__entrees,
      &__plats,
      &__desserts {
        display: flex;
        width: 275px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: map-get($colors, color-black);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 25px;

        h2 {
          font-weight: 600;

        }

        .line {
          width: 40px;
          height: 3px;
          background: map-get($colors, color-tertiaire);
          margin-bottom: 10px;
        }
      }

      .cardDetailMenu {
        display: flex;
        width: 349px;
        height: 69px;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;
        //padding: 0 15px;

        cursor: pointer;

        //overflow: hidden;
        border-radius: 15px;
        background: map-get($colors, bg-color-white);
        box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.10);

      }


      &__check {
        display: flex;
        width: 50px;
        height: 69px;
        align-items: center;
        justify-content: center;
        transition: transform 1000ms ease-out;

      }

      &__check:active {

        background: map-get($colors, color-tertiaire);
        width: 50px;
        height: 69px;
        flex-shrink: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: scaleX(2);
      }






      &__title {
        display: flex;
        flex-direction: column;
        text-transform: none;

        h3 {
          height: 21px;
          flex-shrink: 0;
          align-self: stretch;
          overflow: hidden;
          color: map-get($colors, color-black);
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        p {
          height: 19px;
          flex-shrink: 0;
          align-self: stretch;
          overflow: hidden;
          color: map-get($colors, color-black);
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }

      &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 24px;
        height: 40px;

        p {
          color: map-get($colors, color-grey);
          text-align: center;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }


    

  }

  &__btn-commander {
    width: auto;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;


    button {
      width: 186px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 25px;
      background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
      border: none;

      /* Shadow/Button */
      @include shadow;
      color: map-get($colors, bg-color-white);
      opacity: 1;
      text-align: center;

      /* Button */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transition: transform 600ms;

    }

    button:hover {
      cursor: pointer;
      transform: scale(1.15);
      opacity: 0.8;

      @include shadow-hover;
    }
  }
}




