footer {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 0px;
  margin-top: 0px;
  gap: 30px;
  color: map-get($colors, bg-color-white);
  background: map-get($colors, color-grey);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: auto;
  height: 200px;
  padding: 22px 25px;
  gap: 16px;

  &__logo--img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 139px;
    height: 27px;
    padding-right: 0px;
  }

  .footer__a {
    display: flex;
    flex-direction: column;
    color: map-get($colors, bg-color-white);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: auto;
    height: 19px;
    gap: 7px;

    .proposer-resto,
    .devenir-partenaire {
      display: flex;
      align-items: center;

      color: map-get($colors, bg-color-white);

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      gap: 10px;
    }

    .mention,
    .contact {
      display: flex;
      flex-direction: column;
      gap: 10px;

      color: map-get($colors, bg-color-white);

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

footer {
  @include lg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 114px;
    padding: 30px 25px 0 25px;
    gap: 16px;
    flex-shrink: 0;

    .footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      height: 100%;
      width: auto;

      &__logo--img {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 135px;
        min-width: 135px;
        //height: auto;
        height: 27px;
        padding-right: 0px;
      }

      .footer__link {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        width: auto;
        
      }

      .proposer-resto,
      .devenir-partenaire {
        width: 190px;
        height: 20px;
      }

      .mention,
      .contact {
        width: 130px;
        height: 20px;
      }

      a {
        width: auto;
        
      }
    }
  }
}
