

footer {
    display: block;
    gap: 30px;
    color: map-get($colors, bg-color-white);
    background: map-get($colors, color-grey);

    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 375px;
      height: 200px;
      padding: 22px 25px;
      gap: 16px;

      &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 139px;
        height: 27px;
        padding-right: 0px;
      }
        a {
          color: map-get($colors, bg-color-white);
        }

      &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 190px;
        height: 19px;
        gap: 7px;

        .proposer-resto,
        .devenir-partenaire {
          display: flex;
          align-items: center;

          color: map-get($colors, bg-color-white);

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          gap: 10px;
        }

        .mention-contact {
          display: flex;
          flex-direction: column;
          gap: 10px;

          color: map-get($colors, bg-color-white);

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }