.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map-get($colors, bg-color);
  gap: 20px;
  padding: 30px;




  & {
    @include lg {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }





  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 68px;
    color: map-get($colors, color-black);
    /* Section Title */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 46px;
    flex-shrink: 0;
    color: map-get($colors, color-grey);
    text-align: center;
    /* Paragraph */
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  

}



