/* main page des menus*/
.mainMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 375px;
  height: auto;
  max-height: 1600px;

  &__imgOne {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 375px;
    height: 275px;

    img {
      @include img-bg-cover-center-noRepeat;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;

    background: map-get($colors, bg-color);
    top: 215px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .titleMenu {
      flex-shrink: 0
      margin: 25px 0px 30px 20px;
      width: 341px;
      height: 27px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .titleMenu h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: map-get($colors, color-black);
      font-family: Shrikhand;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .titleMenu i {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: end;
      height: 30px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    width: 375px;
    height: 100%;
    padding: 10px 10px;

    &__entrees,
    &__plats,
    &__desserts {
      display: flex;
      width: 275px;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      color: map-get($colors, color-black);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 25px;

      h2 {
        font-weight: 600;
      }

      .line {
        width: 40px;
        height: 3px;
        background: map-get($colors, color-tertiaire);
        margin-bottom: 10px;
      }
    }
  }
}

.mainMenu {
  @include lg {
    width: 1440px;
    height: 383px;
    flex-shrink: 0;

    &__imgOne {
      width: 1440px;
      height: 956.142px;

      img {
        width: 1440px;
        height: 483px;
        flex-shrink: 0;
      }
    }

    &__content {
      width: 1055px;
      height: auto;
      flex-shrink: 0;
      top: 430px; // A voir pour le responssive
      align-items: center;
      h1 {
        color: var(--Black, #101010);
        font-family: Shrikhand;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
      .menu {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .cardDetailMenu {
          display: flex;
          width: 634px;
          height: 69px;
          align-items: center;
        }

        &__entrees,
        &__plats,
        &__desserts {
          width: 634px;
          display: flex;
          justify-content: center;
          


          .line {
            width: 40px;
            display: flex;

          }



          }
        }
      }

  }

