

.navBar {
  display: flex;
  width: 375px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -0.5px;
  flex-shrink: 0;

  .navBar__logo {
    display: flex;
    width: 375px;
    align-items: center;

    
  }

}