@mixin navBar {
  display: flex;
  width: 375px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -0.5px;
  flex-shrink: 0;

  .navBar__logo {
    display: flex;
    width: 375px;
    align-items: center;
  }
}
  .navBar__logo--img {
    display: flex;
    width: 375px;
    height: 63px;
    padding: 14px 89px 13px 89px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }





