@import "../components/buttons";
@import "../components/badge";

.restaurants {
  display: flex;
  width: 375px;
  height: 1530px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  background: map-get($colors, color-bg-grey);
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 275px;
    height: 68px;
    flex-shrink: 0;
    color: map-get($colors, color-black);
    /* Section Title */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .frame1,
  .frame2 {
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .frame2 {
    .cardMenu__badge {
      opacity: 0;
    }
  }

  .cardsMenus {
    height: auto;
    align-self: center;
    border-radius: 15px;
    cursor: pointer;
    .cardMenu {
      @include display-cardMenu;
      width: 340px;
      height: auto;
      border-radius: 10px;
      flex-shrink: 0;
      background: map-get($colors, bg-color-white);
      /* Shadow/Card */
      @include shadow-card;
      &__img {
        @include img-bg-cover-center-noRepeat;
        @include size-img-1-2-3-4;
      }

      &__titleHeart {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
      }
      &__title {
        display: flex;
        flex-direction: column;
        h3 {
          width: 267px;
          height: 20px;
          flex-shrink: 0;
          color: map-get($colors, color-black);
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          width: 247px;
          height: 24px;
          flex-shrink: 0;
          color: map-get($colors, color-black);
          font-size: 17px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
      &__heart {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 32px;
        height: 40px;
        transition: 1000ms;
        i {
          font-size: 1.2em;
        }
        .far {
          color: black;
          position: absolute;
        }
        .fas {
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          opacity: 1;
        }
        &:hover .far {
          position: absolute;
          opacity: 0;
          background-image: map-get($colors, color-grad);
          background-clip: text;
          -webkit-background-clip: text;
          transition-duration: 300ms;
          transform: scale(1.3);
        }
        &:hover .fas {
          opacity: 1;
          background-image: map-get($colors, color-grad);
          background-clip: text;
          color: map-get($colors, color-grad);
          -webkit-background-clip: text;
          transition-duration: 300ms;
          transform: scale(1.3);
        }
      }
    }
  }
}

/*     news frame and cardMenu */

.restaurants {
  @include lg {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;

    .frame1,
    .frame2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      gap: 100px;
      align-self: stretch;
    }

    .frame2 {
      margin-bottom: 30px;
      .cardMenu__badge {
        opacity: 0;
      }
    }

    .cardsMenus {
      width: 100%;

      .cardMenu {
        width: auto;

        &__img {
          width: 100%;
        }

        &__titleHeart {
          margin-left: 10px;
          margin-right: 10px;
          justify-content: space-between;
        }
      }
    }
  }
}
