/****  font family   ****/
/****  for image and photo    ****/
/****    Shadow    ****/
/****    Restaurants cards    ****/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.navBar__logo--img {
  display: flex;
  width: 375px;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*


@include footer {


}
footer {
    display: block;
    gap: 30px;
    color: map-get($colors, bg-color-white);
    background: map-get($colors, color-grey);
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 375px;
    height: 200px;
    padding: 22px 25px;
    gap: 16px;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 139px;
        height: 27px;
        padding-right: 0px;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 190px;
        height: 19px;
        gap: 7px;

        .proposer-resto,
        .devenir-partenaire {
            display: flex;
            align-items: center;

            color: map-get($colors, bg-color-white);

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            gap: 10px;
        }

        .mention-contact {
            display: flex;
            flex-direction: column;
            gap: 10px;

            color: map-get($colors, bg-color-white);

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}


  }


*/
.card {
  display: flex;
  width: 349px;
  height: 69px;
  align-items: center;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0px;
  cursor: pointer;
}
.card__platePrice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  text-transform: none;
}
.card__platePrice .plate h3 {
  height: 21px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
  color: #010101;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card__platePrice .plate p {
  height: 19px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
  color: #010101;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.card__platePrice .price {
  display: flex;
  align-items: flex-end;
  width: 24px;
  height: 40px;
  justify-content: space-between;
  color: #010101;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card .select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 69px;
  color: white;
  background: #99e2d0;
  transition: all 400ms;
  overflow: hidden;
}
.card .select i {
  color: #99e2d0;
  background: white;
  padding: 2px;
  border-radius: 50%;
}
.card:hover .select {
  width: 70px;
  /*transform: translatex(0px);*/
}

/*** Photo page d'acceuil des restaurants*****/
a {
  text-decoration: None;
  width: 100%;
  color: #010101;
}

* {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  padding: 0px 0px;
}
body .navBar {
  position: relative;
  z-index: 1;
}
body .navBar .navBar__logo {
  display: flex;
  flex-direction: row;
  color: #010101;
}
body .navBar i {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .navBar .navBar__logo--img {
  display: flex;
  width: auto;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
body main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 375px;
  height: 1307px;
}
body main .imgOne {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 375px;
  height: 275px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
body main .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 1090px;
  background: #f6f6f6;
  top: 215px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
body main .container h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 341px;
  height: 27px;
  flex-shrink: 0;
  color: #010101;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 25px 0px 30px 20px;
}
body main .container .menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 375px;
  height: auto;
  padding: 10px 10px;
  /*******card du menu *******/
  /***** fin card du menu*********/
}
body main .container .menu__entrees, body main .container .menu__plats, body main .container .menu__desserts {
  display: flex;
  width: 275px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #010101;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}
body main .container .menu__entrees h2, body main .container .menu__plats h2, body main .container .menu__desserts h2 {
  font-weight: 600;
}
body main .container .menu__entrees .line, body main .container .menu__plats .line, body main .container .menu__desserts .line {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  margin-bottom: 10px;
}
body main .container .menu__card {
  display: flex;
  width: 349px;
  height: 69px;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
}
body main .container .menu__check {
  display: flex;
  width: 50px;
  height: 69px;
  align-items: center;
  justify-content: center;
  transition: transform 1000ms ease-out;
}
body main .container .menu__check:active {
  background: #99e2d0;
  width: 50px;
  height: 69px;
  flex-shrink: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: scaleX(2);
}
body main .container .menu__title {
  display: flex;
  flex-direction: column;
  text-transform: none;
}
body main .container .menu__title h3 {
  height: 21px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
  color: #010101;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .container .menu__title p {
  height: 19px;
  flex-shrink: 0;
  align-self: stretch;
  overflow: hidden;
  color: #010101;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .container .menu__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 24px;
  height: 40px;
}
body main .container .menu__price p {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .btn-commander {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .btn-commander button {
  width: 186px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  border: none;
  /* Shadow/Button */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  opacity: 1;
  text-align: center;
  /* Button */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 600ms;
}
body main .btn-commander button:hover {
  cursor: pointer;
  transform: scale(1.15);
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}
body footer {
  display: block;
  gap: 30px;
  color: white;
  background: #353535;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: 200px;
  padding: 22px 25px;
  gap: 16px;
}
body footer .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 27px;
  padding-right: 0px;
}
body footer .footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 190px;
  height: 19px;
  gap: 7px;
}
body footer .footer__link .proposer-resto,
body footer .footer__link .devenir-partenaire {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 10px;
}
body footer .footer__link .mention-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*# sourceMappingURL=food_1.css.map */
