/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: None;
  width: 100%;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  padding: 0px 0px;
}
body .navBar {
  display: flex;
  width: 375px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -0.5px;
  flex-shrink: 0;
}
body .navBar .navBar__logo {
  display: flex;
  width: 375px;
  align-items: center;
}
body .navBar .navBar__logo i {
  display: none;
}
body .navBar .navBar__logo .navBar__logo--img {
  display: flex;
  width: 375px;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
body .navBar .navBar__map {
  display: flex;
  width: 375px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: #eaeaea;
}
body .navBar .navBar__map i {
  width: 12px;
  height: 16px;
  flex-shrink: 0;
  fill: #353535;
}
body .navBar .navBar__map p {
  /* Button */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #353535;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  gap: 20px;
  padding: 30px;
}
body main .hero h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 68px;
  color: #010101;
  /* Section Title */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
}
body main .hero p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 46px;
  flex-shrink: 0;
  color: #353535;
  text-align: center;
  /* Paragraph */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .hero .btn-restau {
  width: 218px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
body main .hero .btn-restau .btn-restau__link {
  display: flex;
  width: 180.495px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #f6f6f6;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body main .fonctionnement {
  width: 375px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: white;
}
body main .fonctionnement--h2 {
  width: 275px;
  height: 31px;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 25px;
  color: #010101;
  /* Section Title */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .fonctionnement .stage {
  position: relative;
  width: 335px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;
}
body main .fonctionnement .stage__badge1 {
  display: flex;
  height: 80px;
  align-items: center;
}
body main .fonctionnement .stage__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--background, #f6f6f6);
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
body main .fonctionnement .stage__badge--ellipse {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #9356dc;
}
body main .fonctionnement .entitled {
  width: 211px;
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main .fonctionnement .entitled p {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body main .fonctionnement .entitled .fa-solid.fa-store {
  width: 18px;
  height: 17px;
  flex-shrink: 0;
  color: #9356dc;
}
body main .retaurants {
  display: flex;
  width: 375px;
  height: 1530px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  background: #eaeaea;
}
body main .retaurants h2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  width: 275px;
  height: 68px;
  flex-shrink: 0;
  color: #010101;
  /* Section Title */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .retaurants .cardsMenus {
  height: auto;
  align-self: center;
  border-radius: 15px;
}
body main .retaurants .cardsMenus .cardMenu {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: auto;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fff;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
body main .retaurants .cardsMenus .cardMenu__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main .retaurants .cardsMenus .cardMenu img {
  width: 340px;
  height: 231px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main .retaurants .cardsMenus .cardMenu__titleHeart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
body main .retaurants .cardsMenus .cardMenu__title {
  display: flex;
  flex-direction: column;
}
body main .retaurants .cardsMenus .cardMenu__title h3 {
  width: 267px;
  height: 20px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .retaurants .cardsMenus .cardMenu__title p {
  width: 247px;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .retaurants .cardsMenus .cardMenu__title__heart {
  width: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .retaurants .cardsMenus .cardMenu__title__heart i {
  display: flex;
}
body main .retaurants .cardsMenus .cardMenu__badge {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}
body main .retaurants .cardsMenus .cardMenu__badge p {
  position: relative;
  top: 50px;
  right: 15px;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  color: #008766;
}
body footer {
  display: block;
  color: white;
  background: #353535;
  gap: 30px;
}
body footer .footer {
  display: flex;
  width: 375px;
  height: 200px;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
body footer .footer__logo {
  display: flex;
  width: 139px;
  height: 27px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
}
body footer .footer__logo img {
  width: 137.582px;
  height: 27px;
  flex-shrink: 0;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body footer .footer__link {
  width: 190px;
  height: 19px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
body footer .footer__link .proposer-resto,
body footer .footer__link .devenir-partenaire {
  display: flex;
  gap: 10px;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body footer .footer__link .mention-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
