/****  font family   ****/
/****  for image and photo    ****/
/****    Shadow    ****/
/****    Restaurants cards    ****/
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

footer {
  display: block;
  gap: 30px;
  color: white;
  background: #353535;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: 200px;
  padding: 22px 25px;
  gap: 16px;
}
footer .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 27px;
  padding-right: 0px;
}
footer .footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 190px;
  height: 19px;
  gap: 7px;
}
footer .footer__link .proposer-resto,
footer .footer__link .devenir-partenaire {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 10px;
}
footer .footer__link .mention-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*** Photo page d'acceuil des restaurants*****/
a {
  text-decoration: None;
  width: 100%;
  color: #f6f6f6;
}

* {
  font-family: Roboto;
}

h1 {
  font-family: Shrikhand;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  padding: 0px 0px;
}
body .navBar {
  @import url(./layout/_navigation.scss);
}
body .navBar i {
  display: none;
}
body .navBar .navBar__logo--img {
  display: flex;
  width: 375px;
  height: 63px;
  padding: 14px 89px 13px 89px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
body .navBar .navBar__map {
  display: flex;
  width: 375px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  background: #eaeaea;
}
body .navBar .navBar__map i {
  display: flex;
  width: 12px;
  height: 16px;
  flex-shrink: 0;
  fill: #353535;
}
body .navBar .navBar__map p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #353535;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  gap: 20px;
  padding: 30px;
}
body main .hero h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 68px;
  color: #010101;
  /* Section Title */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-shrink: 0;
}
body main .hero p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 46px;
  flex-shrink: 0;
  color: #353535;
  text-align: center;
  /* Paragraph */
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .hero .btn-restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(175deg, #9356dc 0%, #ff79da 100%);
  transition: transform 500ms;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
body main .hero .btn-restau .btn-restau__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 180.495px;
  height: 24px;
  color: #f6f6f6;
  opacity: 1;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body main .hero .btn-restau:hover {
  transform: scale(1.03);
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.45);
}
body main .fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 375px;
  height: 440px;
  background: white;
}
body main .fonctionnement--h2 {
  flex-shrink: 0;
  align-items: center;
  width: 275px;
  height: 31px;
  color: #010101;
  /* Section Title */
  margin-bottom: 25px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .fonctionnement .stage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 335px;
  height: 80px;
  flex-shrink: 0;
  margin-bottom: 10px;
}
body main .fonctionnement .stage__badge1 {
  align-items: center;
  display: flex;
  height: 80px;
}
body main .fonctionnement .stage__badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 322px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f6f6f6;
  /* Shadow/Instructions */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
body main .fonctionnement .stage__badge--ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  background: #9356dc;
  color: #f6f6f6;
}
body main .fonctionnement .entitled {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 211px;
  height: 15px;
}
body main .fonctionnement .entitled p {
  color: #010101;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body main .fonctionnement .entitled .fa-solid.fa-store {
  width: 18px;
  height: 17px;
  flex-shrink: 0;
  color: #9356dc;
}
body main .retaurants {
  display: flex;
  width: 375px;
  height: 1530px;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  background: #eaeaea;
}
body main .retaurants h2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  width: 275px;
  height: 68px;
  flex-shrink: 0;
  color: #010101;
  /* Section Title */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .retaurants .cardsMenus {
  height: auto;
  align-self: center;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 500ms;
}
body main .retaurants .cardsMenus:hover {
  transform: scale(1.03);
}
body main .retaurants .cardsMenus .cardMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
  background: white;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
body main .retaurants .cardsMenus .cardMenu__img-one {
  background: url(./assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 231px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
}
body main .retaurants .cardsMenus .cardMenu__img-two {
  background: url(./assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 231px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
}
body main .retaurants .cardsMenus .cardMenu__img-three {
  background: url(./assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 231px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
}
body main .retaurants .cardsMenus .cardMenu__img-four {
  background: url(./assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 340px;
  height: 231px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
}
body main .retaurants .cardsMenus .cardMenu__titleHeart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
body main .retaurants .cardsMenus .cardMenu__title {
  display: flex;
  flex-direction: column;
}
body main .retaurants .cardsMenus .cardMenu__title h3 {
  width: 267px;
  height: 20px;
  flex-shrink: 0;
  color: #010101;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .retaurants .cardsMenus .cardMenu__title p {
  width: 247px;
  height: 24px;
  flex-shrink: 0;
  color: #010101;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body main .retaurants .cardsMenus .cardMenu__heart {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 40px;
}
body main .retaurants .cardsMenus .cardMenu__heart i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #9356dc;
}
body main .retaurants .cardsMenus .cardMenu__heart .fa-solid .fa-heart {
  width: 32px;
  height: 31px;
}
body main .retaurants .cardsMenus .cardMenu__badge {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
}
body main .retaurants .cardsMenus .cardMenu__badge p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  right: 15px;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #99e2d0;
  color: #008768;
}
body footer {
  display: block;
  gap: 30px;
  color: white;
  background: #353535;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  height: 200px;
  padding: 22px 25px;
  gap: 16px;
}
body footer .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 27px;
  padding-right: 0px;
}
body footer .footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 190px;
  height: 19px;
  gap: 7px;
}
body footer .footer__link .proposer-resto,
body footer .footer__link .devenir-partenaire {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 10px;
}
body footer .footer__link .mention-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
