/*Bouton commander pour les pages menus*/
.mainMenu__btn-commander {
  width: auto;
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 186px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
    border: none;

    /* Shadow/Button */
    @include shadow;
    color: map-get($colors, bg-color-white);
    opacity: 1;
    text-align: center;

    /* Button */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 600ms;
  }

  button:hover {
    cursor: pointer;
    opacity: 0.8;

    @include shadow-hover;
  }
}

/*Bouton page index : explorer nos restaurants */
.btn-restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: map-get($colors, color-grad);
  transition: transform 500ms;

  /* Shadow/Instructions */
  @include shadow;

  .btn-restau__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 180.495px;
    height: 24px;

    color: map-get($colors, bg-color);
    opacity: 1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 500ms;
  }
}
.btn-restau:hover {
  opacity: 0.8;

  @include shadow-hover;
}
