
  
  .cardDetailMenu {
   margin-top: 5px;
   margin-bottom: 5px;
   @include card-menu; // voir dans _mixins.scss
  
  
    &__platePrice {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      text-transform: none;
  
      .plate {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
  
        h3 {
          width: 100%;
          
          height: 21px;
          flex-shrink: 0;
          align-self: stretch;
          overflow: hidden;
          color: map-get($colors, color-black);
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          
          
        }
        p {
          width: 100%;
          height: 19px;
          flex-shrink: 0;
          align-self: stretch;
          overflow: hidden;
          color: map-get($colors, color-black);
          text-overflow: ellipsis;
          white-space: nowrap;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          
        }
      }
      .price {
        width: 100%;
        display: flex;
        align-items: flex-end;
        width: 24px;
        height: 40px;
        justify-content: space-between;
  
        color: map-get($colors, color-black);
        text-align: center;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        transform: none;
        transition: width 300ms ease-in-out;
  
      }
    }
  
  
    .select {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0px;
      height: 69px;
      color: map-get($colors, bg-color-white);
      background: map-get($colors, color-tertiaire);
      
      transition: all 400ms;
      overflow: hidden;
      
  
      i {
        color: map-get($colors, color-tertiaire);
        background: map-get($colors, bg-color-white);
        padding: 2px;
        border-radius: 50%;
      }
  
    }
    &:hover {
      .select {
        width: 70px;
        height: 100%;
        } 
    }

  }





  
  .cardDetailMenu {
    @include lg {
    
      margin-top: 5px;
      margin-bottom: 5px;
      @include card-menu; // voir dans _mixins.scss
     
     
       &__platePrice {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 10px;
         text-transform: none;
     
         .plate {
           width: 100%;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
     
           h3 {
             width: 100%;
             
             height: 21px;
             flex-shrink: 0;
             align-self: stretch;
             overflow: hidden;
             color: map-get($colors, color-black);
             text-overflow: ellipsis;
             white-space: nowrap;
             font-size: 18px;
             font-style: normal;
             font-weight: 700;
             line-height: normal;
             
             
           }
           p {
             width: 100%;
             height: 19px;
             flex-shrink: 0;
             align-self: stretch;
             overflow: hidden;
             color: map-get($colors, color-black);
             text-overflow: ellipsis;
             white-space: nowrap;
             font-family: Roboto;
             font-size: 15px;
             font-style: normal;
             font-weight: 300;
             line-height: normal;
             
           }
         }
         .price {
           width: 100%;
           display: flex;
           align-items: flex-end;
           width: 24px;
           height: 40px;
           justify-content: space-between;
     
           color: map-get($colors, color-black);
           text-align: center;
           font-family: Roboto;
           font-size: 15px;
           font-style: normal;
           font-weight: 700;
           line-height: normal;
   
           transform: none;
           transition: width 300ms ease-in-out;
     
         }
       }
       }
    }

   
 